.center-container {
    display: grid; /* Enable grid */
    place-items: center; /* Center both horizontally and vertically */
    height: 70vh; /* Full height of the viewport */
  }

  h3{
    color: #5b008a ;
  }