.bia-approval-form {
  width: 100%;
  padding: 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column; /* Arrange children in a column */
  box-sizing: border-box; /* Include padding in height */
  position: relative; /* Position context for the button container */
  background-color: white;
}

.btn-primary {
  background-color: #5b008a;
}

.btn-outline-secondary {
  border: 1px solid #5b008a;
  color: #5b008a;
}

.btn-outline-secondary:hover {
  background-color: #5b008a;
  color: white;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.form-group {
  flex: 1;
}

.btn-primary {
  background-color: #5b008a;
}

.btn-outline-secondary {
  border: 1px solid #5b008a;
}

.btn-outline-secondary:hover {
  background-color: #5b008a;
  color: white;
}
