<div class="bg-light p-3" style="min-height: 100vh; padding: 0;">
  <a href="/" class="d-flex align-items-center mb-3 text-dark text-decoration-none">
  <img src="assets/media/app/logo.png" style="width: 145px; height: 60px;">
  </a>
  <hr>
  <ul class="nav flex-column">
    <li class="nav-item mb-2">
      <a href="#" class="nav-link d-flex align-items-center text-dark">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
        Home
      </a>
    </li>
    <li class="nav-item mb-2">
      <a href="#" class="nav-link d-flex align-items-center text-dark">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
        Plans
      </a>
    </li>
    <li class="nav-item mb-2">
      <a href="#" class="nav-link d-flex align-items-center text-dark">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
        Operations
      </a>
    </li>
    <li class="nav-item mb-2">
      <a href="#" class="nav-link d-flex align-items-center text-dark">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
        BIA Analysis
      </a>
    </li>
    <li class="nav-item mb-2">
      <a href="#" class="nav-link d-flex align-items-center text-dark">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        Risks
      </a>
    </li>
    <li class="nav-item mb-2">
      <a href="#" class="nav-link d-flex align-items-center text-dark">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        Institution Data
      </a>
    </li>
    <li class="nav-item mb-2">
      <a href="#" class="nav-link d-flex align-items-center text-dark">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        Users
      </a>
    </li>
    <li class="nav-item mb-2">
      <a href="#" class="nav-link d-flex align-items-center text-dark">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        Reports
      </a>
    </li>
    <li class="nav-item mb-2">
      <a href="#" class="nav-link d-flex align-items-center text-dark">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        Institutions
      </a>
    </li>
    <li class="nav-item mb-2">
      <a href="#" class="nav-link d-flex align-items-center text-dark">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        Awareness & Training
      </a>
    </li>
    <li class="nav-item mb-2">
      <a href="#" class="nav-link d-flex align-items-center text-dark">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        Notifications
      </a>
    </li>
    <li class="nav-item mb-2">
      <a href="#" class="nav-link d-flex align-items-center text-dark">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        Task Management
      </a>
    </li>
    <li class="nav-item mb-2">
      <a href="#" class="nav-link d-flex align-items-center text-dark">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        Settings
      </a>
    </li>
  </ul>
  <hr>
</div>
