<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto">
      <!-- Add any relevant navigation items here -->
    </ul>

    <div class="d-flex flex-grow-1 justify-content-center"> <!-- Center the button here -->
      <button (click)="switchLanguage()" class="btn btn-outline-primary">
        <mat-icon>{{ currentLang === 'en' ? 'translate' : 'translate' }}</mat-icon>
        {{ currentLang === 'en' ? 'Arabic' : 'English' }}
      </button>
    </div>

    <div class="dropdown ms-auto"> <!-- Username dropdown will be at the end -->
      <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle">
        <img src="https://github.com/mdo.png" alt="profile" width="32" height="32" class="rounded-circle me-2">
        <strong>{{ getTranslation('header.username') }}</strong>
      </a>
      <ul class="dropdown-menu text-small shadow">
        <li><a class="dropdown-item" href="#">{{ getTranslation('header.new_project') }}</a></li>
        <li><a class="dropdown-item" href="#">{{ getTranslation('header.settings') }}</a></li>
        <li><a class="dropdown-item" href="#">{{ getTranslation('header.profile') }}</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">{{ getTranslation('header.sign_out') }}</a></li>
      </ul>
    </div>
  </div>
</nav>
