// Custom Theming for Angular Material
@use '@angular/material' as mat;

@include mat.core();

$bia-theme: mat.define-theme(( 
  color: ( 
    theme-type: light, 
    primary: mat.$azure-palette, 
    tertiary: mat.$blue-palette, 
  ), 
  density: ( 
    scale: 0, 
  ) 
)); 

:root { 
  @include mat.all-component-themes($bia-theme); 
}

html, body { 
  height: 100%; 
} 

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: #fcfcfc !important; 
  overflow: hidden; 
} 

.sidebar-icon { 
  color: #ad7fc4; 
} 

.rtl { 
  direction: rtl; 
  text-align: right; 

  .form-group, 
  .buttons, 
  .navbar, 
  .dropdown-menu, 
  .sidebar-icon, 
  .button-container, 
  .nav-link { 
    text-align: right; 
  } 

  .sidebar-icon, 
  .navbar-toggler-icon, 
  .dropdown-item, 
  .btn { 
    margin-left: 5px; 
    margin-right: 0; 
  } 
  
  // Additional adjustments for spacing in RTL
  .buttons { 
    display: flex; 
    justify-content: flex-start; // Align buttons to the start of the container
    gap: 10px; // Adds space between buttons
  }

  .form-row { 
    display: flex; 
    flex-direction: row-reverse; // Reverses the order of elements for RTL
  }
}

.ltr { 
  direction: ltr; 
  text-align: left; 

  .form-group, 
  .buttons, 
  .navbar, 
  .dropdown-menu, 
  .sidebar-icon, 
  .button-container, 
  .nav-link { 
    text-align: left; 
  } 

  .sidebar-icon, 
  .navbar-toggler-icon, 
  .dropdown-item, 
  .btn { 
    margin-right: 5px; 
    margin-left: 0; 
  } 
}
